@{
    ViewData["Title"] = "Home Page";
    List<Product> productList = ViewBag.productList;
    string keyword = ViewBag.keyword;
    string? username = ViewBag.currentUser;


}

@section Scripts
{
     <script src="/js/cart.js"></script>
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Digital Corner</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                  
                @if (username != null)
                {
                      <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyPurchase">History</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                </ul>
                
                        <div class="nav-item me-2 border-2">
                        <label class="nav-item me-2">Welcome @username</label>
                        <a asp-controller="Home" asp-action="Cart">                       
                        <img src="/img/shopping-cart.png" alt="" width="20" height="20">
                        <label id="cartQty"></label>
                        </a>   
                        </div>
                
                }
                else
                {
                 <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                        </li>
                </ul>
                        <div class="nav-item me-2 border-2">
                        <label class="nav-item me-2">Welcome Guest</label>
                        <a asp-controller="Home" asp-action="Cart">                       
                        <img src="/img/shopping-cart.png" alt="" width="20" height="20">
                        <label id="cartQty"></label>
                        </a>   
                        </div>  
                } 

                     </div>
                     </div>
                    </nav>


<form asp-controller="Home" asp-action="Search" method="get">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Search Software" id="keyword" name="keyword" value="@keyword" >
        </div>
    </div>
</div>
</form>
<div class="card-group">
    <div class="container">
        <div class="row mt-3">

            @if(productList.Count!=0)
            {
            @foreach(Product product in productList)
                {
                    <div class="col-md-4 mt-4">
                        <div class="card w-75">
                             <img src="@product.ProductImg" class="card-img img-ratio" alt="...">
                                 <div class="card-body">
                                     <h5 class="card-title">@product.ProductName</h5>
                                     <p class="card-text ellipse-text">@product.ProductDescription</p>
                                  </div>
                                <div class="card-footer">
                                     <small class="fs-4 text-black me-2">@product.ProductPrice$</small>
                                     <small class="fs-6 text-black">@product.ProductRating☆</small>
                                <button class="btn btn-primary float-end product_list" id="@product.ProductId">Add to Cart</button>
                                </div>
                         </div>
                    </div>
                }
            }
            else
            {
                <h1>No Data Matched</h1>
            }     
        </div>
    </div>
</div>


